body {
  font-family: system-ui; /* in the real world, often used with several fallbacks */
}

/* just for fun */
.text-gradient {
  /* Gradient text effect adapted from: 
        https://www.w3schools.in/css3/gradient-text, https://csstextgradient.com/ */
  display: inline; /* make gradient only as wide as text content - technique from GitHub Copilot*/
  background: linear-gradient(60deg, #6e87f7, #543573);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#progress {
  font-style: italic;
}

#axios-details {
  margin: 0 1em 1.5em;
}

#axios-details summary {
  width: fit-content;
  margin-top: -0.4em;
  padding: 0.4em 1em 0.6em;
}
#axios-details summary:hover {
  background-color: #ddd;
}

#axios-details > p:first-of-type {
  margin-top: 0.5em;
}

.under-construction {
  font-style: italic;
}

.under-construction::before {
  content: "🚧 ";
  font-style: normal; /* cancel italics for the emoji */
}
